# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.dist

# Environment
.env
.env.local
.env.production

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Database
*.db
*.sqlite
*.sqlite3
drizzle/migrations/*.sql
